@import url("./main.css");
.main_note {
  width: 24rem;
  align-items: center;
  display: block;
  padding-top: 0.3rem;
  gap: 2rem;
  box-shadow: var(--shadow-color);
}

.input_box {
  height: 3rem;
  width: 22.5rem;
  font-weight: bold;
  outline: none;
  border-style: none;
  font-size: 1.7rem;
  padding: 0.5rem;
  max-width: 23rem;
}

.sub-text {
  outline: none;
  border-style: none;
  padding: 0.5rem;
}

.add-btn {
  padding: 0.5rem 0.9rem;
  position: relative;
  text-align: end;
}
.new-note {
  width: 17rem;
  max-width: 17rem;
  padding: 1rem;

  padding-top: 0.3rem;
  box-shadow: var(--shadow-color);
}

.demo-parent-note {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.demo-child-note {
  width: 16rem;
  max-width: 16rem;
  height: auto;
}

.text {
  max-width: 16rem;
  padding: 0.3rem;
}
.btns-end {
  text-align: right;
}

.btn-archive {
  padding-top: 0.8rem;
}

.fa-trash {
  font-size: 1.1rem;
}
.icon-btns {
  border-style: none;
  border-radius: 50%;
}
.create-note-div {
  text-align: center;
}

.trash-notes {
  padding: 2rem;
}

.date-div {
  float: left;
  padding: 0.6rem 0.4rem;
}
.color-btn {
  margin: 1rem 0.8rem;
  border-style: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.red {
  background-color: #7fa19e;
  border: 1px solid #27524e;
}

.green {
  background-color: #9cb579;
  border: 1px solid #4c612e;
}

.grey {
  background-color: grey;
  border: 1px solid rgb(58, 51, 51);
}

.orange {
  background-color: #548278;
  border: 1px solid #283634;
}

.pinned-btn {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.top-btns {
  display: flex;
}
