@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.main_note {
  /* background-color: red; */
  width: 24rem;
  align-items: center;
  display: block;
  padding-top: 0.3rem;
  box-shadow: rgb(151 140 140) 0px 3px 8px;
}

.input-box {
  height: 3rem;
  width: 22.5rem;
  font-weight: bold;
  outline: none;
  border-style: none;
  font-size: 1.7rem;
  padding: 0.5rem;
  max-width: 23rem;
}

textarea {
  outline: none;
  border-style: none;
  padding: 0.5rem;
}

.add-btn {
  padding: 0.5rem 0.9rem;
  position: relative;
  text-align: end;
}
.new-note {
  width: 17rem;
  max-width: 17rem;
  padding: 1rem;

  padding-top: 0.3rem;
  box-shadow: rgb(151 140 140) 0px 3px 8px;
}

.demo-parent-note {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.demo-child-note {
  max-width: 16rem;
  height: auto;
}

.text {
  max-width: 16rem;
  padding: 0.3rem;
}
.btns-end {
  text-align: right;
}

.btn-archive {
  padding-top: 0.8rem;
}

.fa-trash {
  font-size: 1.1rem;
}
.icon-btns {
  border-style: none;
  border-radius: 50%;
}
.create-note-div {
  text-align: center;
}
